.wrapper {
  width: 80%;
  margin: 0px auto;
}

.block_one {
  text-align: center;
}

.title {
  border: 2px solid red;
  margin-top: 10px;
  width: 80%;
}

#btnSubmit {
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 15px;
  color: red;
  background-color: transparent;
  font-size: medium;
}

.document {
  border: 2px solid red;
  height: 100vh;
  margin: 106px auto;
  text-align: center;
}

.documentWindow {
  display: none;
  position: fixed;
}

.documentWindowSub {
  padding: 1rem;
  background-color: white;
  border: 3px solid red;
  position: absolute;
}
